# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.DS_Store
lecture02-data-imp_n_exp/data/hotels_vienna/raw/hotelbookingdata.csv
lecture02-data-imp_n_exp/data/hotels_vienna/export/my_csvfile.csv
lecture02-data-imp_n_exp/data/hotels_vienna/export/my_csvfile.xlsx
lecture02-data-imp_n_exp/data/hotels_vienna/export/hotelbookingdata.xlsx
lecture02-data-imp_n_exp/data/hotels_vienna/export/hotelbookingdata.RData
lecture02-data-imp_n_exp/data/hotels_vienna/export/my_rfile.RData
lecture00-intro/test_Rmarkdown.html
lecture00-intro/test_Rmarkdown.pdf
TO DOs
lecture03-data-imp_n_exp/data/hotels_vienna/export/my_csvfile.csv
lecture03-data-imp_n_exp/data/hotels_vienna/export/my_csvfile.xlsx
lecture03-data-imp_n_exp/data/hotels_vienna/export/my_rfile.RData
lecture12_intro_to_regression/complete_codes/hotels_vienna_regression_fin_w_logs.R
lecture19-advaced_rmarkdown/complete_codes/advanced_rmarkdown_fin.log
lecture20-basic-spatial-vizz/visualize_spatial_old.R
partIII-case-studies/seminar04-random-forest-airbnb/data/rf_model_2auto.RData
